doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#content
			h1= title
			p Welcome to #{title}
			p All right then
		script(type='text/javascript' src="/javascripts/three.min.js")
		script(type='text/javascript' src="/javascripts/leap-0.6.4.js")
		script(type='text/javascript' src="/javascripts/leap-plugins-0.1.10.js")
		script(type='text/javascript' src="/javascripts/leap.rigged-hand-0.1.7.js")
		script(type='text/javascript' src="/javascripts/showFrame.js")

		