doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		div.network-connect
			input(type="text", autofocus)#connectionId
			input(type="submit", value="CONNECT")#bigred

		script(type='text/javascript' src="http://cdn.peerjs.com/0.3/peer.js")
		script(type='text/javascript' src="/javascripts/three.min.js")
		script(type='text/javascript' src="/javascripts/leap-0.6.4.js")
		script(type='text/javascript' src="/javascripts/LeapDataPlotter.js")
		script(type='text/javascript' src="/javascripts/leap-plugins-0.1.10.js")
		script(type='text/javascript' src="/javascripts/leap.rigged-hand-0.1.7.js")
		script(type='text/javascript' src="/javascripts/leap.networking-0.1.0.js")
		script(type='text/javascript' src="/javascripts/shareData.js")